<launch>


    <node pkg="hi_slam" type="test_manual" name="test_manual" output="screen"> </node>

    <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
        type="cartographer_flat_world_imu_node" output="screen">
        <remap from="imu_in" to="/mobile_base/sensors/imu_data_raw" />
        <remap from="imu_out" to="/imu" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find hi_slam
        )/data/demo_turtlebot.rviz" />

    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view"/>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>



</launch>
