<launch>

    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/create_circles_kinect.urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" ></node>


</launch>